.App {
  text-align: center;
  background-color: lightgray;
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 2px 2px 10px grey;
  
}

.card {
  max-width: 400px;
  margin: 20px;
  border: none;
  box-shadow: 2px 2px 10px grey;
  border-radius: 6px;
  padding-bottom: 10px;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.project-preview {
  width: 100%;
  border-radius: 6px 6px 0 0 ;
}

.project-title {
  margin: 5px;
  font-size: 18px;
}

